@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html, body, html * {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0px 0px 0px 0px;
    background-color: rgb(232, 230, 240);
}

nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0px 0px 0px 0px;
    padding: 10px;
    background-color: white;
    font-weight: 500;
    font-size: small;
    color: rgb(132, 132, 255);
    box-shadow: 0px 0px 10px 5px rgba(150, 147, 173, 0.1);
}

.container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.block {
    margin: 50px 50px 50px 50px;
    padding: 50px 50px 50px 50px;
    background-color: white;
    border-radius: 20px;
}

.title {
    padding-bottom: 5px;
    color: rgb(95, 95, 112);
    font-weight: 500;
    font-size: 35px;
}

.subtitle {
    padding-bottom: 10px;
    color: rgb(132, 132, 255);
    font-weight: 500;
    font-size: 20px;
}

.button {
    margin-right: 10px;
    padding: 0;
    border: none;
    background: none;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    background-color: rgb(132, 132, 255);
    color: white;
}

.button a {
    font-weight: 500;
    color: white;
}

#logo {
    margin-left: 10px;
    font-weight: 700;
    font-size: medium;
    color: rgb(32, 32, 61);
}

a {
    color: rgb(132, 132, 255);
}

a:link {
    text-decoration: none;
    color: rgb(132, 132, 255);
}

a:visited {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}