@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

html, body, html * {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0px 0px 0px 0px;
    background-color: rgb(236, 241, 245);
    font-weight: 300;
    font-size: 1rem;
    color: rgb(117, 117, 117);
}


nav {
    position: fixed;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0px 0px 0px 0px;
    padding: 40px 10px 10px 50px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1rem;
    font-weight: 400;
    color: rgb(117, 117, 117);
    box-shadow: 0px 0px 10px 5px rgba(150, 147, 173, 0.1);
}

.nav-link {
    font-weight: 400;
    color: rgb(117, 117, 117);
}

.nav-option:active {
    border-bottom: 4px solid rgb(95, 123, 235);
    margin-bottom: -20px;
    color: rgb(95, 123, 235);
}

#logo-img {
    align-self: end;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
}

#menu-left {
    flex-basis: 800px;
    justify-self: space-between;
    display: flex;
    flex-grow: row nowrap;
    justify-content: space-evenly;
}

#menu-right {
    flex-basis: 300px;
    justify-self: center;
    display: flex;
    flex-grow: row nowrap;
    justify-content: space-evenly;
    margin-right: 50px;
}

.container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh);
}

.block {
    padding: 50px 50px 50px 50px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px rgba(105, 105, 105, 0.1);
}

#home-container {
    margin: 80px 80px 80px 80px;
    transition: all 0.4s ease-out;
}

#main-content {
    padding-bottom: 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: flex-end;
}

#main-text {
    max-width: 50%;
    padding-right: 50px;
}

#main-image {
    height: 500px;
    width: 500px;
    background-color: rgb(246, 247, 249);
    border-radius: 10px;
}

.form-group {
    padding: 10px 10px 10px 0px;
}

.bigtitle {
    max-width: 70%;
    padding-top: 20px;
    padding-bottom: 40px;
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 4rem;
    line-height: 1;
}

.title {
    padding-bottom: 5px;
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 2rem;
}

.subtitle {
    padding-bottom: 0px;
    color: rgb(110, 110, 110);
    font-weight: 400;
    font-size: 1.5rem;
}

.bigtext {
    padding-bottom: 30px;
    color: rgb(110, 110, 110);
    font-weight: 300;
    font-size: 1.3rem;
}

.hint {
    width: 80px;
    text-align: center;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    background-color: rgb(246, 247, 249);
    color: rgb(95, 123, 235);
    font-weight: 800;
    font-size: 0.7rem;
}

.button {
    margin-right: 10px;
    padding: 12px;
    border: none;
    background: none;
    border-radius: 10px;
    background-color: rgb(95, 123, 235);
    color: white;
    transition: all 0.2s ease-in;
}

.button a {
    font-weight: 500;
    color: white;
}

#nav-button {
    background-color: rgb(233, 123, 79);
}

#nav-button:hover {
    background-color: rgb(255, 221, 208);
}

#logo {
    margin-left: 10px;
    font-weight: 700;
    font-size: medium;
    color: rgb(0, 0, 0);
}

a {
    text-decoration: none;
    font-weight: 400;
    color: rgb(95, 123, 235);
}

a:visited {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

input[type="text" i] {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: none;
    outline: none;
    background: none;
    background-color: rgb(246, 247, 249);
    border-radius: 8px;
    color: rgb(95, 95, 112);
    font-size: 20px;
    font-weight: 400;
    transition: all 0.4s ease-out;
}

input[type="text" i]:focus {
    box-shadow: 0px 0px 0px 3px rgb(95, 123, 235);
}

.footer {
    position: relative;
    height: 250px;
    background-color: rgb(51, 51, 51);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;

}

.footer-content {
    margin-top: 50px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
}

.footer-text {
    margin-bottom: 5px;
    font-size: 1rem;
    color: rgb(153, 153, 153);
}

.bold {
    font-weight: 400;
    color: rgb(255, 255, 255);
}

.social-medias{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.footer-button{
    margin-right: 10px;
    height: 1em;
    width: 1em;
    padding: 0;
    border: none;
    background: none;
    padding: 10px 10px 10px 10px;
    border-radius: 50%;
    background-color: rgb(92, 92, 92);
    color: rgb(255, 255, 255);
    text-align: center;
}
.fa {
    margin-left: -1px;
    font-size: 18px;
}

.material-icons {
    color: rgb(95, 123, 235);
}

.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.9); 
    transition: all 0.4s ease-in-out;
}

.document-content {
    position : relative;
}
