{% extends "base.html" %}
{% block title %}S'identifier{% endblock %}
{% block body %}
<div class="title">S'identifier</div>
<div class="subtitle">Merci d'entrer vos identifiants</div>
 <br>
 <div class="wrapper">
    <p>Entrez vos identifiants pour accèder à l'espace membre.</p>
    <form action="/login/submit" method="post">
        <div class="form-group">
            <label class="bigtext">Identifiant: </label>
            <input type="text" name="username" class="textbox" value="">
            <span class="help-block"></span>
        </div>    
        <div class="form-group">
            <label class="bigtext">Mot de passe: </label>
            <input type="text" name="password" class="textbox">
            <span class="help-block"></span>
        </div>
        <div class="form-group">
            <input type="submit" class="button" value="Se connecter">
        </div>
        <p>Vous n'avez pas de compte ? <a href="register.php">Créer un compte</a>.</p>
    </form>
</div>    
{% endblock %}
{% block javascript_footer %}
    <script src="http://localhost:8888/js/overlay.js"></script>
    {% endblock %}