<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title%}{% endblock %}</title>
    {% block stylesheets %}
    <link href="http://localhost:8888/css/styles.css" rel="stylesheet">
    {% endblock %}
</head>

<body>
    <div class="document">
        <div class="document-content"></div>
        <nav>
            <div id="logo-img">
                <span class="material-icons">
                    insert_drive_file
                </span><a href="/" id="logo">Profact</a>
            </div>
            <div id="menu-left">
                <div class="nav-option">
                    <a class="nav-link" href="/">Accueil</a>
                </div>
                <div class="nav-option">
                    <a class="nav-link" href="/users/index">Mon compte</a>
                </div>
                <div class="nav-option">
                    <a class="nav-link" href="/register/index">Créer un compte</a>
                </div>
            </div>
            <div id="menu-right">
                <button id="nav-button" class="button overlay-link" type="button"><a href="/login/index">Se connecter</a></button>
                <button id="nav-button" class="button overlay-link" type="button"><a href="/logout/index">Se déconnecter</a></button>
            </div>
        </nav>
        <div class="container">
            <div class="block">
                {% block body %}
                {% endblock %}
            </div>
        </div>
        {% block footer %}
        <div class="footer">
            <div class="footer-content">
                <div class="footer-text bold">A propos</div><br>
                <div class="footer-text"><em>PROFACT<br>50 rue de la Gare, 75001 Paris, France</em><br></div>
                <div class="footer-text">Nous contacter</div>
                <div class="footer-text">Presse</div>
            </div>
            <div class="footer-content">
                <div class="footer-text bold">Application</div><br>
                <div class="footer-text">Se connecter</div>
                <div class="footer-text">Créer un compte</div>
                <div class="footer-text">Se déconnecter</div>
            </div>
            <div class="footer-content">
                <div class="footer-text bold">Sur le web</div><br>
                <div class="social-medias">
                    <div class="footer-button">
                        <i class="fa fa-facebook"></i>
                    </div>
                    <div class="footer-button">
                        <i class="fa fa-twitter"></i>
                    </div>
                    <div class="footer-button">
                        <i class="fa fa-linkedin"></i>
                    </div>
                    <div class="footer-button">
                        <i class="fa fa-instagram"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    {% endblock %}
    {% block javascript_footer %}
    <script src="http://localhost:8888/js/script.js"></script>
    {% endblock %}
</body>

</html>